<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mb-1 text-center fw-normal">
          Gefördert durch: <br>
          <img class="my-3" src="{{ "/assets/images/support-prototype.png" | relative_url }}">
          <img class="my-3" src="{{ "/assets/images/support-bmbf.png" | relative_url }}">
        </p>
        <p class="text-center">
          <a href="/impressum/">Impressum</a>
        </p>
      </div>
    </div>
  </div>
</footer>